.message {
    width: 100%;
    padding: 1em;
    margin: 0 auto;
    border: solid 2px black;
    margin-bottom: 2em;
    border-radius: 5px;
}

.success {
    color: #157224;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
